body{
  font-family: Lucida, Helvetica, Arial, sans-serif;
}
.photo{
  border-style:none;
  padding-left: 3px;
  float: right;
}

h1{
  font-size: 25px;
  float: left;
  font-weight: bolder;
  font-style: italic;
}

p{
  font-weight:bold;
}


#main{
  width:500px;
  float:left;
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

#container{
  width:750px;
  margin:0 auto;
}

#sidebar{
  width:auto;
  background-color: blue;
  color: #fff;
  float: left;


}

#nav{
  list-style-type: none;
  margin:0 auto;
  padding:0;
  width: 750px;
}

#nav li{
  float: left;
}

#nav a:link, #nav a:visited{
  display: block;
  text-align: center;
  width: 187.5px;
  padding:0 0;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  background-color: red;
}

#nav a:hover, #nav a:active{
  background-color: blue
}
