body{
  font-family: Lucida, Helvetica, Arial, sans-serif;
}
.photo{
  border-style:none;
  padding-left: 3px;
}

#main{
  width:500px;
  float:left;
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

#container{
  width:750px;
  margin:0 auto;
}

#sidebar{
  width:auto;
  background-color: #98bf21;
  color: blue;

}

#nav{
  list-style-type: none;
  margin:0;
  padding:0;
}

#nav li{
  float: left;
}

#nav a:link{
  display: block;
  text-align: center;
  width: 125px;
  padding:4px 0;
}
